* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.navbar {
  height: fit-content;
  padding: 20px;
  background-color: #6f35a5;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  /* z-index: -1; */
}
#leftdiv {
  /* width: fit-content; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: light;
  font-size: xx-large;
}

#leftdiv img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  /* padding-left: 10%; */
}
.add {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.add button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  width: fit-content;
  background-color: #965fc9;
  font-weight: bold;
  border: none;
  transition: transform ease 300ms;
  text-align: center;
  font-size: larger;
}
.add :hover {
  cursor: pointer;
  transform: translate(0, -4px);
  box-shadow: 0 8px 8px -4px #c8a0ef;
}
.del {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.del button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  width: fit-content;
  background-color: #965fc9;
  font-weight: bold;
  border: none;
  transition: transform ease 300ms;
  text-align: center;
  font-size: larger;
}
.del :hover {
  cursor: pointer;
  transform: translate(0, -4px);
  box-shadow: 0 8px 8px -4px #c8a0ef;
}
.right {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
main {
  margin-left: 170px;
  margin-top: 100px;
  padding: 20px;
}
aside {
  display: flex;
  flex-direction: column;
  background-color: #965fc9;
  height: 87.5vh;
  width: fit-content;
  font-size: large;
  float: left;
  z-index: 1;
  margin-top: 90px;
  position: fixed;
  left: 0;
  bottom: 0;
}

aside a {
  text-decoration: none;
  font-size: larger;
}

.select {
  padding: 30px;

  cursor: pointer;
}

.src {
  background-color: #6f35a5;
}
aside :hover {
  background-color: #965fc9;
  box-shadow: 0 0 8px 1px #c07dff;
}
/* #boxouter {
  background-color: white;
  float: left;
  width: 100%;
} */
#boxouter {
  display: grid;
  grid-template-rows: auto auto auto auto;
}
.parent {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.indiv {
  width: 400px;
  float: left;
}
.aboutimg {
  float: left;
  width: 300px;
  height: auto;
  padding-left: 80px;
}

.card {
  row-gap: 10px;
}

.form-popupp {
  display: none;
  position: fixed;
  background-color: #ddc1f8;
  box-shadow: 0px 0px 2px 2px #ddc1f8;
  top: 100px;
  right: 20px;
  border: 3px solid #6f35a5;
  z-index: 9;
  align-items: center;
  width: 300px;
  height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-popupp .btn {
  top: 50%;
  align-items: center;
  padding: 5px;
  width: 200px;
  margin-left: 50px;
  margin-bottom: 5px;
  background-color: #f88379;
  color: rgb(0, 0, 0);
  border: 2px solid #ff0000;
  border-radius: 40px;
  box-shadow: 0px 0px 2px 2px #f88379;
}
#upbut {
  top: 50%;
  align-items: center;
  padding: 5px;
  width: 200px;
  margin-left: 50px;
  margin-bottom: 5px;
  background-color: #b98ff5;
  color: rgb(0, 0, 0);
  border: 2px solid #6f35a5;
  border-radius: 40px;
  box-shadow: 0px 0px 2px 2px #b98ff5;
}
input[type="file"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
